<h1>URL Decoder/Encoder</h1>
<%= form_tag(url_for(:action => 'index'), :remote => true, :id => 'convert_form') do -%>
<%= submit_tag 'Decode' , name: "decode_button"-%>
<%= submit_tag 'Encode' , name: "encode_button"-%>
<br />
<% @initial_value = 'http://' %>
<%= text_area_tag 'input_value', @initial_value, :size => '100x10' %>
<br />
<% end %>
<div id='result_value' />
